{
    "presets": [
        "react",
        "es2015",
        "latest",
        "stage-3"
    ],
    "plugins": [[
        "transform-runtime", {
            "helpers": false,
            "ployfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
        }
    ]]
}