{
    "presets": [
        "react",
        "es2015",
        "latest",
        "stage-3"
    ],
    "plugins": [
        [                            //generator支持
            "transform-runtime",
            {
                "ployfill": false
            }
        ],
        [ 
            "transform-class-properties" //react中箭头函数支持
        ],
        ["import", {  //antd按需加载
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css" // `style: true` 会加载 less 文件
        }],
        ["dynamic-import-webpack"]
    ]
}